# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log
logs/
debug.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
.tox/

# MyPy type checking
.mypy_cache/
.dmypy.json
.pyre/

# Ruff linter cache
.ruff_cache/

# IDE / Editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
